.list_wrap {
	row-gap: 4px;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	/* 
	border-top-left-radius: 10px; */
	display: flex;
	flex-direction: column;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/* grid-area: LeftSection; 
	position: relative;*/
	/* justify-content: flex-start; 
	flex-wrap: wrap;*/
}



.list {
	/* background: #B7D7D5; */
	border-radius: 3px;
	padding: 5px 15px;

	display: flex;
	flex-direction: column;

	row-gap: 8px;
	overflow-y: scroll;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}

.list::-webkit-scrollbar {
	display: none;
}



.filter_option {
	flex-basis: 120px;
	border: 2px solid transparent;
	font-weight: 100;
	width: max-content;
	cursor: pointer;
}

.filter_option:hover {
	border-top: 2px dashed black;
	transition: border-color ease-out 100ms;
}

.filter_option_current {
	font-weight: 100;
	border: none;
	border-top: 2px solid black;
	padding: 3px 5px;
	cursor: pointer;
}


.list_element {
	position: relative;
	border-radius: 15px;
	padding: 6px 12px 10px 8px;
	width: inherit;
	flex-direction: column;
	flex-wrap: nowrap;
	color: #484545;
	font-weight: 500;
	border: 1px solid #fff;
	cursor: pointer;


}

.list_element_picked {
	position: relative;
	border-radius: 15px;
	padding: 6px 12px 10px 8px;
	width: inherit;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #DDC08D;
	transition: background-color ease-in 100ms;

	cursor: pointer;
	flex-wrap: nowrap;
}

.list_element:hover {
	transition: padding-right 100ms;
	background-color: #E4F0EF;
	padding-right: 20px;
	color: #545143;
	transition: background-color 100ms ease-in;

}





.le_sort {
	padding: 5px 15px;
	/* 
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
 */
	background: transparent;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;
}

.le_sort__sorttype {
	border: none;
	background: transparent;
	appearance: none;
	padding: 3px;
	border: none;
	font-family: 'Material Icons';
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.le_authorName {
	padding: 1px 1px 1px 3px;
	border-radius: 3px;
	font-weight: 600;
	font-family: 'Nunito Sans', sans-serif;
	color: #563C5C;
	background: #F9F7ED;
	font-size: 0.7rem;
}

.le_date {
	font-size: 0.7rem;
	position: absolute;
	top: 8px;
	right: 16px;
	color: #563C5C;

}

.le_theme {
	color: #484545;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
}