.form {
  font-family: "Roboto Condensed", sans-serif;
  row-gap: 15px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_header {
  font-size: 24px;
}
.form_field {
  background: #e4f0ef75;
  height: 38px;
  padding: 0px 16px;
  border-radius: 15px;
  width: 275px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form_field__label {
  font-size: 14px;
}
.form_input {
  outline: none;
  border: none;
  background: transparent;
  padding: 0px 16px;
  border-radius: 15px;
  height: 31px;
}
.form_input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
}
.form_textarea {
  padding: 3px 5px 3px 15px;
  width: -webkit-fill-available;
  resize: none;
  background: none;
  border: none;
}
.form_submit__button {
  display: inline-flex;
  padding: 5px 25px;
  border-bottom: 1px solid #5451435f;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  align-items: center;
  border: 1px solid transparent;
  color: #594356;
  cursor: pointer;
}

.form_submit__button:disabled:hover {
  outline: none;
  box-shadow: none;
  cursor: default;
}

.form_submit__button:hover {
  transition: outline-color 0.5s ease;
  outline: 2px dashed black;
  box-shadow: -1px 5px 2px #ddc08d;
}
