.Loader {

	--b: 2px;
	/* border thickness */
	--n: 4;
	/* number of dashes*/
	--g: 18deg;
	/* gap between dashes*/
	--c: rgb(8, 26, 29);
	/* the color */



	width: 7%;
	/* size */
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 1px;
	background: conic-gradient(#0000, var(--c)) content-box;
	-webkit-mask:
		repeating-conic-gradient(#0000 0deg,
			#000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
			#0000 calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
		radial-gradient(farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
	mask:
		repeating-conic-gradient(#0000 0deg,
			#000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
			#0000 calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
		radial-gradient(farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
	-webkit-mask-composite: destination-in;
	mask-composite: intersect;
	animation: load 1s infinite steps(var(--n));


	/* 	margin-top: auto;
	margin-left: auto; */
}

@keyframes load {
	to {
		transform: rotate(1turn)
	}
}




/* .Loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 */