.gallery {
	/* 	margin: 10px; */
	min-height: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
}


.btns__wrap {
	/* background: bisque;  */
	color: #e4f0ef;
	font-size: 24px;
	grid-template-areas:
		"back space forward"
		"more space add";
	height: 100%;
	width: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 30px auto 30px;
	grid-template-rows: 1fr 1fr;
	/* z-index: 2; */
	height: 100%;
	cursor: pointer;
	justify-content: space-between;
	justify-items: stretch;
	align-content: stretch;
}

.btns {
	font-family: 'Material Icons';
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
	z-index: 1;
	display: flex;
	height: 100%;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.btns__back {
	left: 0;
	grid-area: back;
}

.btns__more {
	left: 0;
	grid-area: more;
}

.btns__less {
	left: 0;
	grid-area: more;
}

.btns__forward {
	right: 0;
	grid-area: forward;
}

.btns__add {
	right: 0;
	grid-area: add;
}

.btns:hover {
	background: #f9f7ed34;
	color: #fdffdd;
}

.mansory {
	row-gap: 5px;
	column-gap: 5px;
	flex-wrap: wrap;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.masonry__brick {
	object-fit: cover;
	border-radius: 3px;
	max-height: 120px;
	/* z-index: 4; */
	cursor: pointer;
	width: 23%;
}

.masonry__brick:hover {
	box-shadow: 3px 2px 3px rgb(0, 0, 0);
	transition: box-shadow 100ms;
}

.ImgUploadDialog {
	padding: 10px 15px;
}

.MyFileinput::file-selector-button {
	transition: outline-color 0.5s ease;
	color: #174744;
	border-radius: 6px;
	background: none;
}