.Link {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	height: min-content;
	background: #90b0cb57;
	color: #484545;
	border: 1px solid transparent;
	text-decoration: none;
	position: relative;
	padding: 3px 15px;
	font-size: 12px;
	cursor: pointer;
}

.Link_deletable {
	border: 1px solid transparent;
	color: red;

	text-decoration: none;
	position: relative;
	padding: 3px 5px;
	font-size: 14px;
	cursor: pointer;
	margin-left: 10px;
}

.Link:hover {
	background: #484545;
	transition: background-color ease-out 400ms;
	color: #ddc08d;
}