.Link {
	/* background: #90b0cb57; */
	/* border-bottom-left-radius: 3px; */
	/* border-bottom-right-radius: 3px; */
	font-weight: 600;
	/* background: #90b0cb57; */
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #484545;
	/* font-size: 12px; */
	height: min-content;
	padding: 3px 15px;
	text-decoration: none;
	/* 
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	height: min-content;
	background: #90b0cb57;
	color: #484545;
	border: 1px solid transparent;
	text-decoration: none;
	position: relative;
	padding: 3px 15px;
	font-size: 12px;
	cursor: pointer; */
}

.Link_deletable {
	color: #563c5c;
	font-family: Nunito Sans, sans-serif;
	font-size: .7rem;
	font-weight: 500;
	background: aliceblue;
	min-height: 30px;
	grid-column-gap: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	border: 1px solid transparent;
	color: red;

	text-decoration: none;
	position: relative;
	padding: 3px 5px;
	font-size: 14px;
	cursor: pointer;
	margin-left: 10px;
}

.Link:hover {
	background: #484545;
	transition: background-color ease-out 400ms;
	color: #ddc08d;
}