.home {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	grid-row-gap: 15px;
	row-gap: 15px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info_h {
	font-size: 22px;
}

.info_h2 {
	font-size: 14px;
}

.info_item {
	background: #e4f0ef75;
	height: 38px;
	padding: 0px 16px;
	border-radius: 15px;
	width: 275px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}