.Links {
	display: flex;
	position: relative;
	justify-content: space-between;

}

.Tags {

	column-gap: 6px;
	/* background: var(--color-PRIMARY); */
	display: flex;
	color: rgba(0, 0, 0, 0.7);
	position: relative;
	padding: 3px 5px 15px 15px;
	font-weight: 500;
	align-content: flex-start;
	/* align-items: center; */
	flex-direction: row;
	justify-content: flex-start;

}

.officeTags {
	font-weight: 500;
	column-gap: 12px;
	/* row-gap: 4px; */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.dd_list {
	cursor: pointer;
	flex-basis: 95px;
	/* width: max-content; */
	/* height: 100%; */
	display: inline-flex;
	position: relative;
	/* align-items: center; */
	/* justify-content: center; */
	flex-wrap: nowrap;

}