.body {
	box-shadow: inset 3px -3px var(--color-purple);
	position: relative;
	grid-column-gap: 35px;
	column-gap: 35px;
	box-sizing: border-box;
	flex-direction: column;
	display: grid;
	grid-template-areas:
		"controls controls "
		"list chat ";
	grid-template-columns: 300px 500px;
	grid-template-rows: 40px 500px;
}

/* .controls {
	box-shadow: inset 0px 2px 6px rgb(255 255 255 / 89%);
	background: linear-gradient(#e4f0ef, #f9fbfb);
	font-family: sans-serif;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	align-content: stretch;
	height: 100%;
	grid-area: controls;
	flex-direction: row;
	justify-content: space-between;
} */

.currentTicket_details {
	padding: 5px 15px;
	row-gap: 5px;
	column-gap: 20px;
	font-family: sans-serif;
	display: flex;
	align-content: flex-start;
	grid-auto-columns: max-content;
	flex-direction: row;
	flex-wrap: wrap;
}

.currentTicket_details_item {
	font-size: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 2px 0 2px 40px;

	color: #545143;
	position: relative;

}

.currentTicket_details_item::before {
	color: #3a3326;
	left: 0;
	content: attr(title);
	/* 	font-size: 12px; */
	z-index: 0;
	position: absolute;
	bottom: 0;
	/* 
	padding: 2px 6px; */

}

.nav_btn {
	padding: 1px 1px 1px 3px;
	font-family: sans-serif;
	color: #563C5C;
}

.nav_btn:hover {
	background-color: #563c5c0f;
	transition: color 100ms ease-in;
}

.chat {
	border: 1px solid beige;
	height: 100%;
	border-radius: 3px;
	padding: 5px 15px;
	min-width: 600px;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	font-size: 14px;
	flex-direction: column;
}


.currentTicket_controls {
	padding: 5px 0px;
	/* height: 100%; */
	/* border-bottom: 2px dashed #545143; */
	border-bottom: 1px solid #f5f5dc;
	grid-area: navbar;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	justify-content: flex-end;
}

.chat_body {
	overflow-y: scroll;
	height: 100%;
	row-gap: 10px;
	padding: 15px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chat_body::-webkit-scrollbar {
	display: none;
}

.messageInput {
	column-gap: 8px;
	padding: 5px 15px;
	border: 1px solid #5943566b;
	border-radius: 15px;
	grid-area: messageInput;
	display: inline-flex;
	flex-direction: row;
}

.textarea {
	border: 1px solid #dceeed;
	background: rgba(255, 255, 255, 0.256);
	border-radius: 6px;
	margin: 5px;
	width: inherit;
	background: none;
	border-radius: 0;
	border: none;
	transition: backgroung-color 0.3s ease;
	outline: none;
	padding: 0;
	width: -webkit-fill-available;
	resize: none;
	font-size: 0.9em;
}

.send_button {
	border: none;
	font-size: 16px;
	padding: 5px 25px;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	grid-area: edit;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;
	width: fit-content;
}

.send_button:hover {
	background: #efe2a9;
}

.send_button:disabled {
	background: #e4f0ef;
	transition: background-color 0.5s ease;
}

.text_input {
	margin: 10px;
	width: 250px;
	height: 20px;
}