.tagsblock {

	row-gap: 4px;
	font-weight: 500;
	grid-column-gap: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	grid-area: tags;
	font-size: 11px;
	cursor: pointer;

}

.tagsblock_item {
	font-size: 10px;
	/* 	background: var(--color-blue); */
	display: inline-flex;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 2px 8px;
	/* background: salmon; */
	border-radius: 6px;
	height: min-content;
	cursor: pointer;
}

.tagsblock_item:hover {
	box-shadow: -1px 5px 2px #ddc08d;
	background: rgba(255, 255, 255, 0.19);
}

.active {
	background: #ddc08d;
}

.deletable {
	color: red;
}

.tagsblock_item__current {
	display: inline-flex;
	padding: 5px 3px;
	background: #a59d75;
	font-size: 14px;
	border-radius: 6px;
	height: min-content;
	cursor: pointer;
}

.tagsblock_item.deletable {
	color: red;
}